body{
    background: teal;
}

.layout{
    background-color: aquamarine;
    width: 100%; /*take full width all the time*/
    max-width: 800px; /*could be relative as well*/
    height: 10em;
    overflow: scroll; /*/turning to the scrolling box*/ /* can be used also for cropping images*/
/* centering the elements is different if it is a block or inline*/
margin-right: auto; /* puts margin automaticalilly to the rigth*/
/* centering the block - margin-rigth+margin-left=auto - will center them automatically*/
margin-left: ;auto;
margin:0 auto; /*/ this is an alternative. the closest thing to the responsive that we will have now*/

float: rigth; /* floatallow text to float around the image*/ /* Rocco doesnt reccomend us to use it*/


overflow:hidden; /*/removes the vertical spaces between the elements*/


}


/* REM is relative to the browser. More consistent and responsive
/* EM is relevant to what is defined in the document. more important when the relativeness to the whole layout is important*/




img{ /* allows responsive images*/
    width: auto;
    max-width: 100%;
}

html{
    font-size: 1.5rem; /* the only way to overrisde the browers default*/
}

body{

}

.align{
    vertical-align: top;
}

.story{
    font-size: 1.5em; /* 16 will be multiplies it by 1.5*/
}

.headline{
    font-size: 1.5em; /* 16 will be multiplies it by 1.5. It will inherit, so it will be 1.5*1.5*24 points* This is responsive and it is relative to the browser default/
} 

/*defining box size:

display
width
heigth
box-sizing
padding
borger
margin
max-width
min-width
max-height
min-height
overflow
*/

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

*{
    box-sizing: border-box;
}

.box{
    background-color: crimson;
    color: white;
    text-align: justify;


box-sizing: border-box;
display: inline-block;
width: 50%;
height: auto;
padding:1em;


}